.list {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: 0 auto;
  li{
    border: 2px solid #87cefa;
    &:hover{
      opacity: 0.6;
    }
    a{
      display: block;
      padding: 10px;
      height: 100%;
    }
  }
}
.box {
  margin: 100px auto;
  width: 1300px;
  background-color: #87cefa;
  height: 700px;
  p {
    text-align: center;
  }
}